:ruby
  @page_title = 'Boxes'
  @nav        = :ui
  @subnav     = :boxes


box styles: normal, flat, inset (well), strong, clickable
padding levels
margins
centered headers, with and without icons

.box
  %h4 normal box

.box.thick-shadow
  %h4 thick shadow

.box.mega-shadow
  %h4 mega shadow

.box.flat
  %h4 flat box

.box.inset
  %h4 inset box

.box{'data-behavior': 'clickable', 'data-href': '#'}
  %h4 clickable box

.box.rounded
  %h4 rounded box

%hr

= box "I am a centered box", class: 'centered-box' do
  %p I am in a centered box

%hr

= box "hi" do
  %p I am in the box

= box do
  %p I am in the box

= box "hi", top_link: 'foo' do
  %p I am in the box



= box "hi", top_link: 'foo', style: 'border-color: red' do
  %p I am in the box

- top_link = btn_to 'foo', '#'
= box "hi", top_link: top_link do
  %p I am in the box


- top_link = small_btn_to 'foo', '#'
= box "hi", top_link: top_link do
  %p I am in the box


.box
  .box-title
    %h2 I am a box
    .top-link= btn_to 'click me', '#'


.box.divided-box
  .box-section
    .section-icon= image_tag 'webhook-circle-gray.svg', size: '48x48', alt: 'list'
    .section-contents
      %h3 Section Title
      %p.gray.mt-s Section text here lorem ipsum dolor sit amet.
    .section-switch blah
  .box-section
    .section-icon= image_tag 'webhook-circle-gray.svg', size: '48x48', alt: 'list'
    .section-contents
      %h3 Section Title
      %p.gray.mt-s Section text here lorem ipsum dolor sit amet.
    .section-switch blah
  .box-section
    .section-icon= image_tag 'webhook-circle-gray.svg', size: '48x48', alt: 'list'
    .section-contents
      %h3 Section Title
      %p.gray.mt-s Section text here lorem ipsum dolor sit amet.
    .section-switch blah
