:ruby
  @page_title = 'Boxes'
  @nav        = :ui
  @subnav     = :boxes


= box 'Basic Box Styles' do
  %p You don't have to use the box helper -- at its most basic, a box is just an element with the .box css class.
  %p To achieve different looks, there are off the shelf styles for different shadow depths, inset boxes, border radius, and hover states for clickable boxes.

  = haml_example do
    :plain
      .grid
        .col-6.stack-on-tablet

          .box
            %h4 normal box

          .box.thick-shadow
            %h4 thick shadow

          .box.mega-shadow
            %h4 mega shadow

          .box.flat
            %h4 flat box

        .col-6.stack-on-tablet

          .box.inset
            %h4 inset box

          .box{'data-behavior': 'clickable', 'data-href': '#'}
            %h4 clickable box

          .box.rounded
            %h4 rounded box

= box 'The Box Helper' do
  %h5 What it Does
  %p
    The current box helper method lets you create a box with a h2 title inside a .box-header element.
    You can pass any html options you want (for example, apply a custom css class).
  %h5 The Top Link Option
  %p
    You can also pass a :top_link option, which will be floated to the right of the box title.
    This is often used for a button.
  %h5 Future Plans
  %p In the future, as more common box styles emerge, the box method will get more flexible, or will have companion methods for creating other types of boxes.

  = haml_example do
    :plain
      = box 'I am a box made with the box helper', top_link: small_btn_to('I am a "top link" button', '#') do
        %p I am content inside the box

= box 'Customizing Boxes' do
  %h5 Some examples of custom boxes:
  = haml_example do
    :plain
      .grid
        .col-6.stack-on-tablet

          .box.p-xl
            .box-header.text-center
              %h2 Box with centered header and xl padding
              %p.intro.mt-s I am the subtitle of this box
            %p I am the contents of the box. Bacon ipsum dolor amet pork loin cupim porchetta short loin beef shoulder ham hock pancetta kielbasa. Flank ground round prosciutto andouille, corned beef biltong strip steak fatback pancetta brisket rump doner ribeye.

          .box.p-l.rounded.thick-shadow{'data-behavior': 'clickable', 'data-href': '#'}
            .box-header.text-center
              %h2 Clickable rounded box with thick shadow and centered header
              %p.intro.mt-s I am the subtitle of this box
            %p I am the contents of the box. Bacon ipsum dolor amet pork loin cupim porchetta short loin beef shoulder ham hock pancetta kielbasa. Flank ground round prosciutto andouille, corned beef biltong strip steak fatback pancetta brisket rump doner ribeye.

          .box.inset
            .box-header
              %h4 Inset box with h4 title
            %p I am the contents of the box. Bacon ipsum dolor amet pork loin cupim porchetta short loin beef shoulder ham hock pancetta kielbasa. Flank ground round prosciutto andouille, corned beef biltong strip steak fatback pancetta brisket rump doner ribeye.

        .col-6.stack-on-tablet

          .box.p-xxl
            .box-header.text-center
              = image_tag 'webhook-circle-gray.svg', size: '48x48', alt: 'icon'
              %h2 Box with centered header, a big icon, and xxl padding
              %p.intro.mt-s I am the subtitle of this box
            %p I am the contents of the box. Bacon ipsum dolor amet pork loin cupim porchetta short loin beef shoulder ham hock pancetta kielbasa. Flank ground round prosciutto andouille, corned beef biltong strip steak fatback pancetta brisket rump doner ribeye.

          = box 'Flat box with small button', class: 'flat-box', top_link: small_btn_to('Click Me', '#') do
            %p I am the contents of the box. Bacon ipsum dolor amet pork loin cupim porchetta short loin beef shoulder ham hock pancetta kielbasa. Flank ground round prosciutto andouille, corned beef biltong strip steak fatback pancetta brisket rump doner ribeye.

  %hr
  %h4 How-To Guide
  
  %h5 Padding
  %p Use the .p-x classes referenced on the Utilities page.

  %h5 Top Margin
  %p Use the .mt-x classes referenced on the Utilities page.

  %h5 Border/shadow/bg variations
  %p Use the styles at the top, or make something custom if none of those work.

  %h5 Different heading styles
  %p Use whatever heading or type style you want as the box header, but you won't be able to use the box helper method.
  %p Put the heading in a .box-header element if you want it to be spaced out from the box contents.

  %h5 Centered Box Titles
  %p Put .text-center on the .box-header element.

  %h5 Subtitles under the box titles
  %p Put a %p.intro under the title element. Give it .mt-s if you want it to be closer to the box title than a normal paragraph would be.

  %h5 Icons above a centered box title
  %p See examples below.


= box 'Divided Boxes' do
  %p
    These are useful, but the CSS could be made more general.
    The current styles really expect an icon on the left of each section and a switch or checkbox on the right.
  = haml_example do
    :plain
      .box.divided-box
        .box-section
          .section-icon= image_tag 'webhook-circle-gray.svg', size: '48x48', alt: 'icon'
          .section-contents
            %h4 Content Here
            %p.gray.mt-s I am some text lorem ipsum dolor sit amet.
          .section-switch switch here
        .box-section
          .section-icon= image_tag 'webhook-circle-gray.svg', size: '48x48', alt: 'icon'
          .section-contents
            %h4 Content Here
            %p.gray.mt-s I am some text lorem ipsum dolor sit amet.
          .section-switch switch here
        .box-section
          .section-icon= image_tag 'webhook-circle-gray.svg', size: '48x48', alt: 'icon'
          .section-contents
            %h4 Content Here
            %p.gray.mt-s I am some text lorem ipsum dolor sit amet.
          .section-switch switch here
