:ruby
	@page_title = 'Buttons'
	@nav        = :ui
	@subnav     = :buttons

= box 'Button Types' do

	%p Standard and Primary are the most-commonly used button colors.

	%hr

	%h5 Standard
	=haml_example do
		:plain
			// comment
			= btn_to 'Default Button', '#'

	%hr

	%h5 Primary
	= haml_example do
		:plain
			= btn_to 'Primary Button', '#', class: 'btn-primary'

	%hr

	%h5 Warning
	= haml_example do
		:plain
			= btn_to 'Delete Me', '#', class: 'btn-warning'

	%h5 Outline
	= haml_example do
		:plain
			= btn_to 'Outline Button', '#', class: 'btn-outline'
			= btn_to 'Primary Outline', '#', class: 'btn-outline '
= box 'Button Sizes' do

	%p There are 3 button sizes, and each has a helper method for convenience.
	%p All button helpers can take an options hash just like link_to so you can specify custom css classes and attributes.
	%p These button sizes can also be achieved by adding classess like .btn-small or .btn-tiny.

	%hr

	%h5 Huge Button
	= haml_example do
		:plain
			= btn_to 'Click Me', '#', class: 'btn-huge'
	
	%h5 Large Button
	= haml_example do
		:plain
			= btn_to 'Click Me', '#', class: 'btn-large'

	%h5 Default Button
	= haml_example do
		:plain
			= btn_to 'Click Me', '#'

	%h5 Small Button
	= haml_example do
		:plain
			= small_btn_to 'Click Me', '#'

	%h5 Tiny Button
	= haml_example do
		:plain
			= tiny_btn_to 'Click Me', '#'

= box 'Button Groups' do
	%h5 Horizontal
	= haml_example do
		:plain
			.btn-group
				= btn_to "Option 1", '#', class: 'btn-white'
				= btn_to "Option 2", '#', class: 'selected btn-white'
				= btn_to "Option 3", '#', class: 'btn-white'

	%h5 Vertical
	= haml_example do    
		:plain
			.cf
				.vertical-btn-group.two-columns
					= btn_to "Option 1", '#', class: 'btn-white'
					= btn_to "Option 2", '#', class: 'selected btn-white'
					= btn_to "Option 3", '#', class: 'btn-white'

	%h5 Gray Button Group
	= haml_example do
		:plain
			.btn-group
				= btn_to "Option 1", '#', class: 'btn-gray'
				= btn_to "Option 2", '#', class: 'selected btn-gray'
				= btn_to "Option 3", '#', class: 'btn-gray'


= box '"Pill" Buttons' do 
	%p Some buttons, especially on login/signup pages, and in emails, currently use a pill shape. This style can be applied to all colors and sizes of buttons. 
	%p Extra minimum left/right padding is applied, and these buttons are often also made fixed-width.

	= haml_example do
		:plain
			= btn_to 'Primary Button', '#', class: 'btn-primary btn-pill'
			= btn_to 'Standard Button', '#', class: 'btn-pill'
			= btn_to 'Outline Button', '#', class: 'btn-outline btn-pill'
			= btn_to 'Tiny Button', '#', class: 'btn-tiny btn-pill'


= box 'Buttons with Icons' do
	%p Buttons can have icons in them, either on the right or the left.
	%p Icons in buttons use the same oolor as the button text.
	%p Buttons can even have only an icon inside. In this case, use a tooltip to explain the button.

	= haml_example do
		:plain
			= icon_btn_to 'add', 'New Survey', '#', class: 'btn-primary'
			= icon_btn_to 'sort', 'Sort', '#', class: 'btn-outline-gray'

= box 'Other Button Styles' do
	%h5 Full-width Buttons (display: block)
	= haml_example do
		:plain
			= btn_to "Click Me", '#', class: 'btn-block'

	%h5 Centered Wide Buttons
	= haml_example do
		:plain
			= btn_to "Click Me", '#', class: 'centered-wide-btn'
