:ruby
  @page_title = 'Colors'
  @nav        = :ui
  @subnav     = :colors

= box 'Global Color Variables and CSS Classes' do

  %h5 Where Colors Are Defined
  %p global colors are defined in global/_colors.sass
  %hr

  %h5 CSS Variables and Classes
  %p
    The colors are defined as css variables, and each color also has a css class named after it.
    So, if you're defining styles you can reference the css variable in your SASS, but if you just want
    to color something in your HAML, you can add the appropriate css class.

= box 'Color Swatches' do

  .grid
    .col-4
      %h4 Basic Colors
      = color_swatch 'sabeus'
      = color_swatch 'midnight'
      = color_swatch 'concord'
      = color_swatch 'arctic'
      = color_swatch 'bumblebee'
      = color_swatch 'bengal'
      = color_swatch 'raspberry'
      = color_swatch 'link'
      = color_swatch 'nav-blue'

    .col-4
      %h4 Neutrals
      = color_swatch 'charcoal'
      = color_swatch 'slate'
      = color_swatch 'stone'
      = color_swatch 'flint'
      = color_swatch 'pebble'
      = color_swatch 'canvas'
      = color_swatch 'white'

    .col-4
      %h4 Semantic Colors
      %h6 (based on colors to left)
      = color_swatch 'text-color'
      = color_swatch 'link-color'
      = color_swatch 'note-color'
      = color_swatch 'warning-color'
      = color_swatch 'error-color'

= box 'Background-color Classes' do
  %p Several of the named colors also have utility CSS classes for setting background colors.
  = haml_example do
    :plain
      .box.no-shadow.bg-sabeus
        %p.white .bg-sabeus: dark-sabeus bg
      .box.no-shadow.bg-midnight
        %p.white .bg-midnight: midnight bg
      .box.no-shadow.bg-concord
        %p.white .bg-concord: concord bg
      .box.no-shadow.bg-arctic
        %p.white .bg-arctic: arctic bg
      .box.no-shadow.bg-bumblebee
        %p.white .bg-bumblebee: bumblebee bg
      .box.no-shadow.bg-bengal
        %p.white .bg-bengal: bengal bg
      .box.no-shadow.bg-raspberry
        %p.white .bg-raspberry: raspberry bg
      .box.no-shadow.bg-charcoal
        %p.white .bg-charcoal: charcoal bg
      .box.no-shadow.bg-slate
        %p.white .bg-slate: slate bg
      .box.no-shadow.bg-stone
        %p.white .bg-stone: stone bg
      .box.no-shadow.bg-flint
        %p .bg-flint: flint bg
      .box.no-shadow.bg-pebble
        %p .bg-pebble: pebble bg
      .box.no-shadow.bg-canvas
        %p .bg-canvas: canvas bg
      .box.no-shadow.bg-white
        %p .bg-white: white bg
