:ruby
  @page_title = 'Icons'
  @nav        = :ui
  @subnav     = :icons

.featured
  = link_to 'Material Icons', '#material'
  |
  = link_to 'CX Futuro Icons', '#cx'
  |
  = link_to 'Engage Futuro Icons', '#engage'
= card 'Icon Helpers' do
  %p
    The small icons we sprinkle into our pages use the Material icon font.
    They can be specified in HTML manually, or via :before content, but usually they're inserted with one of our helper methods. For larger icons, we use the Futuro library. Futuro icons are inserted with a helper method.



  .featured
    %pre
      icon and svg_icon
  %p Use this when you just want to output a Material or Futuro icon.
  = haml_example do
    :plain
      = svg_icon :benchmarks, size: '32'
      = icon :survey
      = icon :person, class: 'green'

  .featured
    %pre
      icon_to
  %p
    Use this when you want to prepend an icon onto a text link.
  %p.red
    Note: Do not use this when you just want to hyperlink an icon. In that case, just wrap the call to icon() in a link, eg. link_to icon(:survey).
  = haml_example do
    :plain
      = icon_to :survey, 'Survey', '#'

  .featured
    %pre
      large_icon
  %p Makes a bigger Material icon.
  = haml_example do
    :plain
      = large_icon :survey
      = large_icon :person, class: 'green'
  .featured For larger Futuro icons
  %p Add a size attribute to the icon helper
  = haml_example do
    :plain
      = svg_icon :benchmarks
      = svg_icon :benchmarks, size: '48'
      = svg_icon :benchmarks, size: '32'

= card s("<a name='material'></a>Named Material Icons"), header_action: link_to('Back to top', '#top') do
  %p Many Material icons have confusing names, so we have defined our own less-confusing names for some of them in icon_helper.rb:
  %table
    %thead
      %th Icon
      %th Name
      %th Symbol
    - Pano::IconHelper::MaterialIcons.each_key do |i|
      %tr
        %td= icon i
        %td= i
        %td
          %pre
            \:
            = i

= card s("<a name='cx'></a>CX Futuro Icons"), header_action: link_to('Back to top', '#top') do
  %table
    %thead
      %th Icon
      %th Name
      %th Symbol
    - Pano::IconHelper::FuturoIcons.each_with_index do |(key, value), i|
      - unless i > 19
        %tr
          %td= svg_icon key
          %td= key
          %td
            %pre
              \:
              = key
= card s("<a name='engage'></a>Engage Futuro Icons"), header_action: link_to('Back to top', '#top') do
  %table
    %thead
      %th Icon
      %th Name
      %th Symbol
    - Pano::IconHelper::FuturoIcons.each_with_index do |(key, value), i|
      - unless i < 20
        %tr
          %td= svg_icon key
          %td= key
          %td
            %pre
              \:
              = key

