:ruby
  @page_title = 'Modals'
  @nav        = :ui
  @subnav     = :modals


= card 'Basic Modal' do
  = haml_example do
    :plain
      = modal 'basic-modal', title: 'This is modal title text', description: 'This is modal description text' do
        = modal_body_text 'This is modal body text'
        = modal_footer_actions primary: ['Save', '#'], secondary: ['Cancel', '#']

  = btn_to 'Launch Modal', '#basic-modal', data: {action: 'click->application#openModal'}, class: 'mt-m'

= card 'Modal with Icon' do
  = haml_example do
    :plain
      = modal 'icon-modal', title: 'This is modal title text', icon: :take_a_break, description: 'This is modal description text' do
        = modal_body_text 'This is modal body text'
        = modal_footer_actions primary: ['Save', '#'], secondary: ['Skip', '#'], tertiary: ['Delete', '#']

  = btn_to 'Launch Modal with Icon', '#icon-modal', data: {action: 'click->application#openModal'}, class: 'mt-m'

= card 'Modal with CTA' do
  = haml_example do
    :plain
      = modal 'cta-modal', title: 'This is modal title text', description: 'This is modal description text' do
        = modal_body_text 'This is modal body text'
        = modal_footer_cta 'CTA', '#'

  = btn_to 'Launch Modal with CTA', '#cta-modal', data: {action: 'click->application#openModal'}, class: 'mt-m'
