:ruby
  @page_title = 'Tables'
  @nav        = :ui
  @subnav     = :tables

%p
  %strong.red Note:
  There are several useful utility classes for table cells that aren't documented here yet: .flush-left, .flush-right, .narrow, .date, .avatar

= box 'Standard Tables' do

  = haml_example do
    :plain
      %table
        %tr
          %th Table Header
          %th Table Header
          %th Table Header
        %tr
          %td Table Cell
          %td Table Cell
          %td Table Cell
        %tr
          %td Table Cell
          %td Table Cell
          %td Table Cell
        %tr
          %td Table Cell
          %td Table Cell
          %td Table Cell

= box 'Divided Table' do
  = haml_example do
    :plain
      %table.divided
        %tr
          %th Table Header
          %th Table Header
          %th Table Header
        %tr
          %td Table Cell
          %td Table Cell
          %td Table Cell
        %tr
          %td Table Cell
          %td Table Cell
          %td Table Cell
        %tr
          %td Table Cell
          %td Table Cell
          %td Table Cell

= box 'Alternating Table With Small Text' do
  = haml_example do
    :plain
      %table.alternating.small
        %tr
          %th Table Header
          %th Table Header
          %th Table Header
        %tr
          %td Table Cell
          %td Table Cell
          %td Table Cell
        %tr
          %td Table Cell
          %td Table Cell
          %td Table Cell
        %tr
          %td Table Cell
          %td Table Cell
          %td Table Cell
