:ruby
  @page_title = 'Typography'
  @nav        = :ui
  @subnav     = :typography

= box 'Fonts' do
  %p
    We use SF UI Text for headings and body fonts.
  %p
    %strong For the fonts to work properly in your app, copy /test/dummy/public/fonts to the public directory of your app.

= box 'Headings, Paragraphs, and Common Styles' do
  %p There are 6 heading sizes, in decreasing size, from H1 - H6. Use p tags for paragraphs.

  = haml_example do
    :plain
      %h1 This is a H1 tag
      %h2 This is a H2 tag
      %h3 This is a H3 tag
      %h4 This is a H4 tag
      %h5 This is a H5 tag
      %h6 This is a H6 tag
      %p This is a paragraph -- use this for body text.
      %p.intro
        "intro" text: It's common to want to have a larger introductory paragraph that doesn't quite match our heading styles.
        In this case, you can use the .intro class.
      %p.note "Note" text: It's also common to have de-emphasized text. Use .note for this.

= box 'Page Titles' do
  %p Usually, the only H1 tag on the page should be the page title.
  %p The page title is almost always set at the top of a view file with the title() helper method, like so:
  .styleguide-example
    .code-example
      :plain
        = title 'Page Title Here'

= box 'Spacing' do
  %p
    By default, headings and paragraphs have top margin of 16px and no bottom margin.
    As a general rule, is up to each element to decide how far it should be spaced from the content preceding it.
  %p first-child headings and p tags have 0 top margin.
  %p
    When you need closer spacing between a piece of text and the preceding content,
    use .mt-s (short for margin-top-small -- see utilities.sass).
    If you need no top margin, use .mt-0
  = haml_example do
    :plain
      %p I am a first-child element, so I have no top margin
      %p.mt-0 I have the .mt-0 class so I have no top margin
      %p.mt-s I have the .mt-s class so I have less top margin than normal
      %p I have normal top margin

= box 'Text Alignment' do
  %p there are utility classes for text alignment, vertical alignment, nowrap, and indenting
  = haml_example do
    :plain
      %p.text-right .text-right: right-aligned text
      %p.text-left .text-left left-aligned text
      %p.text-center .text-center center-aligned text
      %p
        %span.align-top .align-top: vertical-align top
        %span.align-middle ..align-middle vertical-align middle
      %p.indented .indented: indented 32px
      %p.nowrap .nowrap: white-space: nowrap

= box 'Text Sizes' do
  %p In addition to sizing text by using headings, you can use css classes.
  = haml_example do
    :plain
      %p.huge I am a p tag with the .huge class
      %p.larger I am a p tag with the .larger class
      %h2.normal-size I am a H2 tag with the .normal-size class
      %p.small I am a small p tag with the .small class
      %p.tiny I am a very small p tag with the .tiny class

= box 'Weights' do
  = haml_example do
    :plain
      %p.normal-weight I am a p tag with the .normal-weight class
      %p.thin I am a p tag with the .thin class
      %p.semibold I am a p tag with the .semibold class
      %p.strong I am a p tag with the .strong class
      %p
        %strong I am a strong tag inside a p
      %p.uppercase I am a p tag with the .uppercase class

= box 'Overriding Colors and Weights' do
  %p You can override the color, size and weights of different text elements in several ways.
  %ul
    %li Make one element look like a certain heading with styles named after a particular heading (ex: add .h3 to make something look like a h3 tag)
    %li Override the color of an element with one of the color classes from _colors.sass (ex: %h4.blue)
    %li Override the weight of an element with one of the font-weight classes (ex: %h4.semibold)
    %li Override the size of an element with one of the text size classes (ex: %h2.normal-size)
  = haml_example do
    :plain
      %h4.strong.blue I am a strong blue h4 tag
      %h1.larger.red.semibold I am a h1 tag with overridden size, weight, and color
      %h2.h5 I am a h2 masquerading as a h5 tag
      %h4.h2 This h4 looks like a h2

= box 'Misc' do
  %h4 HR tags
  = haml_example do
    :plain
      %p a normal hr tag:
      %hr
      %p a hr tag with extra top margin:
      %hr.mt-xl
      %p a hr with less top margin:
      %hr.mt-s

  %h4 Italics
  = haml_example do
    :plain
      %em I am in italics

  %h4 Blockquotes
  = haml_example do
    :plain
      %blockquote
        %p I am a blockquote. Lorem Ipsum dolor sit amet.

  %h4 Trademark symbols
  = haml_example do
    :plain
      %p do trademarks with #{trademark} and circle-r (registered trademark) with #{circle_r}.
