:ruby
  @page_title = 'Typography'
  @nav        = :ui
  @subnav     = :typography

= card 'Fonts' do
  %p
    We use SF UI Display for headings and SF UI Text for body fonts.
  %p
    %strong For the fonts to work properly in your app, copy /spec/test_app/public/fonts to the public directory of your app.

= card 'Headings, Paragraphs, and Common Styles' do

  = haml_example do
    :plain

      %h1 This is an H1
      %h2 This is an H3
      %h3 This is an H3
      %h3 This is an H3
      %h4 This is an H4
      %h5 This is an H5
      %p.featured-large This is Large Featured Text
      %p.featured This is Featured Text
      %p.note This is Note Text - often used for module descriptions under titles
      %p This is a paragraph -- use this for body text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat tincidunt laoreet. Ut venenatis in libero at posuere. Vestibulum ac rhoncus purus. Etiam elementum diam sit amet arcu commodo elementum.

%hr
%h5.section-title 3.x styles
= card 'Spacing' do
  %p
    By default, headings and paragraphs have top margin of 16px and no bottom margin.
    As a general rule, is up to each element to decide how far it should be spaced from the content preceding it.
  %p first-child headings and p tags have 0 top margin.
  %p
    When you need closer spacing between a piece of text and the preceding content,
    use .mt-s (short for margin-top-small -- see utilities.sass).
    If you need no top margin, use .mt-0
  = haml_example do
    :plain
      %p I am a first-child element, so I have no top margin
      %p.mt-0 I have the .mt-0 class so I have no top margin
      %p.mt-s I have the .mt-s class so I have less top margin than normal
      %p I have normal top margin

= card 'Text Alignment' do
  %p there are utility classes for text alignment, vertical alignment, nowrap, and indenting
  = haml_example do
    :plain
      %p.text-right .text-right: right-aligned text
      %p.text-left .text-left left-aligned text
      %p.text-center .text-center center-aligned text
      %p
        %span.align-top .align-top: vertical-align top
        %span.align-middle ..align-middle vertical-align middle
      %p.indented .indented: indented 32px
      %p.nowrap .nowrap: white-space: nowrap

= card 'Weights' do
  = haml_example do
    :plain
      %p.normal-weight I am a p tag with the .normal-weight class
      %p.thin I am a p tag with the .thin class
      %p.semibold I am a p tag with the .semibold class
      %p.strong I am a p tag with the .strong class
      %p
        %strong I am a strong tag inside a p
      %p.uppercase I am a p tag with the .uppercase class

= card 'Misc' do
  %h4 HR tags
  = haml_example do
    :plain
      %p a normal hr tag:
      %hr
      %p a hr tag with extra top margin:
      %hr.mt-xl
      %p a hr with less top margin:
      %hr.mt-s

  %h4 Italics
  = haml_example do
    :plain
      %em I am in italics

  %h4 Blockquotes
  = haml_example do
    :plain
      %blockquote
        %p I am a blockquote. Lorem Ipsum dolor sit amet.

  %h4 Trademark symbols
  = haml_example do
    :plain
      %p do trademarks with #{trademark} and circle-r (registered trademark) with #{circle_r}.
