!!! 5
%html
  %head
    = csrf_meta_tag

    = material_icons
    = stylesheet_link_tag    'pano/guide', 'data-turbolinks-track': 'reload', media: 'all'
    = stylesheet_link_tag    'pano', 'data-turbolinks-track': 'reload', media: 'all'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.2.0/custom-elements-es5-adapter.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.3/webcomponents-bundle.js'
    = javascript_pack_tag    'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag    'pano', 'data-turbolinks-track': 'reload'
    %title= "Pano: #{@page_title}"
  %body{data: {controller: 'modals'}}

    #guide-nav
      .inner
        .nav-logo= icon_to :directions_railway, 'Pano', root_path
        .nav-links
          = nav_link 'UI Components', root_path,          key: :ui
          = nav_link 'CSS',           guide_css_path,     key: :css
          = nav_link 'Javascript',    guide_js_path,      key: :js
          = nav_link 'Helpers',       guide_helpers_path, key: :helpers
        .nav-version
          version:
          = Pano::VERSION

    #main

      #guide-subnav
        .inner= partial "pano/guide/subnavs/#{@nav}" if @nav

      #main-column

        %h1.page-title= @page_title

        #page-content= yield
