!!! 5
%html
  %head
    = csrf_meta_tag

    = material_icons
    = stylesheet_link_tag    'pano/guide', 'data-turbolinks-track': 'reload', media: 'all'
    = javascript_pack_tag     'application', 'data-turbolinks-track': 'reload'
    %title= "Pano: #{@page_title}"
  %body{data: {controller: 'modal'}}

    #nav
      .inner
        .nav-logo= icon_to :directions_railway, 'Pano', root_path
        .nav-links
          = nav_link 'UI Components', root_path,          key: :ui
          = nav_link 'CSS',           guide_css_path,     key: :css
          = nav_link 'Javascript',    guide_js_path,      key: :js
          = nav_link 'Helpers',       guide_helpers_path, key: :helpers
        .nav-version
          version:
          = Pano::VERSION

    #main

      #subnav
        .inner= partial "pano/guide/subnavs/#{@nav}" if @nav

      %section#main-column

        %h1.page-title= @page_title

        #page-content= yield
