!!! 5
%html
  %head
    %title Wrench Rails
    %link{rel:"stylesheet", href:"https://cdn.smassets.net/assets/wds-react/wds-react.3_0_1.min.css", media: "screen"}
    = csrf_meta_tag
    = material_icons
    = javascript_pack_tag 'wds', 'data-turbolinks-track': 'reload'
  %body{data: {controller: 'modals'}}

    #guide-nav
      .inner
        .nav-logo= icon_to :directions_railway, 'WDS Rails', root_path

        .nav-version
          version:
          -#= Pano::VERSION

    #main
      #main-column

        %h1.page-title= @page_title

        #page-content= yield
