!!! 5
%html
  %head
    %title Wrench on Rails
    %link{rel:"stylesheet", href:"https://cdn.smassets.net/assets/wds-react/wds-react.3_0_1.min.css", media: "screen"}
    = javascript_pack_tag 'wds', 'data-turbolinks-track': 'reload'
    = csrf_meta_tag
    = material_icons
  %body{data: {controller: 'modals'}}

    = react_component 'header'
    = yield
