= subnav_link 'Global', root_path

:ruby
  links = [
    {key: :utilities,      label: 'CSS Utilities'},
    {key: :colors,         label: 'Colors'},
    {key: :browsers,       label: 'Browsers'},
    {key: :breakpoints,    label: 'Breakpoints'},
    {key: :borders,        label: 'Borders'},
    {key: :shadows,        label: 'Shadows'},
    {key: :transforms,     label: 'CSS Transforms'},
    {key: :grid,           label: 'Grid System'},
    {key: :typography,     label: 'Typography'},
    {key: :icons,          label: 'Icons'},
    {key: :lists,          label: 'Lists'},
    {key: :links,          label: 'Links'},
    {key: :buttons,        label: 'Buttons'},
    {key: :tabs,           label: 'Tabs'},
    {key: :boxes,          label: 'Boxes'},
    {key: :tables,         label: 'Tables'},
    {key: :forms,          label: 'Forms'},
    {key: :hr,             label: 'HRs and Separators'},
    {key: :arrows,         label: 'Arrows'},
    {key: :banners,        label: 'Banners'},
    {key: :flash_messages, label: 'Flash Messages'},
    {key: :spinners,       label: 'Spinners'},
  ]

- links.each do |link|
  = subnav_link link[:label], eval("guide_#{link[:key]}_path"), key: link[:key], class: :secondary

= subnav_link 'App (todo)',       '#'
= subnav_link 'Admin (todo)',     '#'
= subnav_link 'Collect (todo)',   '#'
= subnav_link 'Marketing (todo)', '#'
= subnav_link 'Login (todo)',     '#'
= subnav_link 'Basic (todo)',     '#'
