= subnav_link 'Global', root_path

:ruby
  links = [
    {key: :utilities,      label: 'CSS Utilities'},
    {key: :breakpoints,    label: 'Breakpoints'},
    {key: :grid,           label: 'Grid System'},
    {key: :typography,     label: 'Typography'},
    {key: :colors,         label: 'Colors'},
    {key: :links,          label: 'Links'},
    {key: :borders,        label: 'Borders'},
    {key: :shadows,        label: 'Shadows'},
    {key: :buttons,        label: 'Buttons'},
    {key: :lists,          label: 'Lists'},
    {key: :icons,          label: 'Icons'},
    {key: :tabs,           label: 'Tabs'},
    {key: :boxes,          label: 'Boxes (todo)'},
    {key: :tables,         label: 'Tables (todo)'},
    {key: :forms,          label: 'Forms (todo)'},
    {key: :arrows,         label: 'Arrows (todo)'},
    {key: :banners,        label: 'Banners (todo)'},
    {key: :flash_messages, label: 'Flash Messages (todo)'},
    {key: :spinners,       label: 'Spinners (todo)'},
    {key: :transforms,     label: 'CSS Transforms (todo)'},
    {key: :browsers,       label: 'Browser Targeting'},
  ]

- links.each do |link|
  = subnav_link link[:label], eval("guide_#{link[:key]}_path"), key: link[:key], class: :secondary

= subnav_link 'App (todo)',       '#'
= subnav_link 'Admin (todo)',     '#'
= subnav_link 'Collect (todo)',   '#'
= subnav_link 'Marketing (todo)', '#'
= subnav_link 'Login (todo)',     '#'
= subnav_link 'Basic (todo)',     '#'
= subnav_link 'Email (todo)',     '#'
