%nav#subnav

  = subnav_link 'Overview', root_path, key: :overview
  = subnav_link 'Global', '#'
  = subnav_link 'Colors', guide_colors_path, class: 'secondary'
  = subnav_link 'Typography', guide_typography_path, class: 'secondary', key: :typography
  = subnav_link 'Grid System', guide_grid_path, class: 'secondary'
  = subnav_link 'Buttons', guide_buttons_path, class: 'secondary'
  = subnav_link 'Icons', guide_icons_path, class: 'secondary'
  = subnav_link 'Forms', guide_forms_path, class: 'secondary'
  = subnav_link 'Tabs', guide_tabs_path, class: 'secondary'
  = subnav_link 'Boxes', '#', class: 'secondary'
  = subnav_link 'Modals', '#', class: 'secondary'
  = subnav_link 'Popovers', '#', class: 'secondary'
  = subnav_link 'Cards', '#', class: 'secondary'
  = subnav_link 'Lists', '#', class: 'secondary'
  = subnav_link 'Spinners', '#', class: 'secondary'
  = subnav_link 'Banners', '#', class: 'secondary'
  = subnav_link 'Tooltips', '#', class: 'secondary'
  = subnav_link 'Badges', '#', class: 'secondary'
  = subnav_link 'Tags' , '#', class: 'secondary'
  = subnav_link 'Miscellaneous', '#', class: 'secondary'

  = subnav_link 'App', '#'
  = subnav_link 'Admin', '#'
  = subnav_link 'Collect', '#'
  = subnav_link 'Marketing', '#'
  = subnav_link 'Login', '#'
  = subnav_link 'Basic', '#'
