- klass = "wds-button #{@class_name} wds-button--#{@size} wds-button--#{@color} wds-button--#{@variant}"
- if @stretched
  - klass << ' wds-button--stretched'

- if @href.blank?
  %button{class: klass, type: @button_type, data: {controller: 'button---wds-button', action: 'click->button---wds-button#onClick'}}
    = yield

- else
  %a{class: klass, href: @href}
    = yield
