- klass = "wds-button #{@class_name} wds-button--#{@size} wds-button--#{@color} wds-button--#{@variant}"
- if @stretched
  - klass << ' wds-button--stretched'

- if @href.blank?
  - if @disabled
    %button{disabled: '', class: klass, type: @button_type, data: {controller: 'button---wds-button', action: 'click->button---wds-button#onClick'}}
      = yield
  - else
    %button{class: klass, type: @button_type, data: {controller: 'button---wds-button', action: 'click->button---wds-button#onClick'}}
      = yield

- else
  - if @disabled
    %a{class: klass, href: @href, disabled: ''}
      = yield
  - else
    %a{class: klass, href: @href}
      = yield
