.container{style: 'background-color: #f7f8fa; padding: 24px; min-height: 100vh'}
  :css
    .material-icons {
      font-size: 16px;
    }

  - icon_class = 'wds-icon-svg'

  = component 'wds/button', href: '../../' do
    = icon 'arrow_back_ios', class: icon_class
    BACK

  %h1 Button Group

  %h2 Default
  %p Button groups use our button component to build itself, so that means you can use any button kind to compose a button group (excluding text buttons).
  = component 'wds/button_group' do
    = component 'wds/button' do
      BUTTON
    = component 'wds/button' do
      BUTTON
    = component 'wds/button' do
      BUTTON
    = component 'wds/button' do
      BUTTON
  = component 'wds/button_group' do
    = component 'wds/button', color: 'alt' do
      ALT
    = component 'wds/button', color: 'alt' do
      ALT
    = component 'wds/button', color: 'alt' do
      ALT
    = component 'wds/button', color: 'alt' do
      ALT
  %br
  %br

  %h2 Sizes
  %p Since button groups use actual buttons, that means you can customize button sizes.
  = component 'wds/button_group' do
    = component 'wds/button', size: 'lg' do
      LARGE
    = component 'wds/button', size: 'lg' do
      LARGE
  = component 'wds/button_group' do
    = component 'wds/button' do
      MEDIUM
    = component 'wds/button' do
      MEDIUM
  = component 'wds/button_group' do
    = component 'wds/button', size: 'sm' do
      SMALL
    = component 'wds/button', size: 'sm' do
      SMALL

  %h2 Colors
  %p Use any button color allowed with our buttons to change the color of your button group.
  = component 'wds/button_group' do
    = component 'wds/button' do
      BUTTON
    = component 'wds/button' do
      BUTTON
    = component 'wds/button' do
      BUTTON
    = component 'wds/button' do
      BUTTON
  = component 'wds/button_group' do
    = component 'wds/button', color: 'alt' do
      BUTTON
    = component 'wds/button', color: 'alt' do
      BUTTON
    = component 'wds/button', color: 'alt' do
      BUTTON
    = component 'wds/button', color: 'alt' do
      BUTTON
  = component 'wds/button_group' do
    = component 'wds/button', color: 'secondary' do
      BUTTON
    = component 'wds/button', color: 'secondary' do
      BUTTON
    = component 'wds/button', color: 'secondary' do
      BUTTON
    = component 'wds/button', color: 'secondary' do
      BUTTON
  = component 'wds/button_group' do
    = component 'wds/button', color: 'muted' do
      BUTTON
    = component 'wds/button', color: 'muted' do
      BUTTON
    = component 'wds/button', color: 'muted' do
      BUTTON
    = component 'wds/button', color: 'muted' do
      BUTTON
  = component 'wds/button_group' do
    = component 'wds/button', color: 'warning' do
      BUTTON
    = component 'wds/button', color: 'warning' do
      BUTTON
    = component 'wds/button', color: 'warning' do
      BUTTON
    = component 'wds/button', color: 'warning' do
      BUTTON
  = component 'wds/button_group' do
    = component 'wds/button', color: 'upgrade' do
      BUTTON
    = component 'wds/button', color: 'upgrade' do
      BUTTON
    = component 'wds/button', color: 'upgrade' do
      BUTTON
    = component 'wds/button', color: 'upgrade' do
      BUTTON
  = component 'wds/button_group' do
    = component 'wds/button', color: 'link' do
      BUTTON
    = component 'wds/button', color: 'link' do
      BUTTON
    = component 'wds/button', color: 'link' do
      BUTTON
    = component 'wds/button', color: 'link' do
      BUTTON
  = component 'wds/button_group' do
    = component 'wds/button', color: 'info' do
      BUTTON
    = component 'wds/button', color: 'info' do
      BUTTON
    = component 'wds/button', color: 'info' do
      BUTTON
    = component 'wds/button', color: 'info' do
      BUTTON
  %br
  %br

  %h2 Icons
  %p Use icons to make your UI more condense.
  = component 'wds/button_group' do
    = component 'wds/button', color: 'secondary', icon_position: 'icon-only' do
      = icon 'access_time', class: icon_class
    = component 'wds/button', color: 'secondary', icon_position: 'icon-only' do
      = icon 'delete_outline', class: icon_class
    = component 'wds/button', color: 'secondary', icon_position: 'icon-only' do
      = icon 'add_circle_outline', class: icon_class
    = component 'wds/button', color: 'secondary', icon_position: 'icon-only' do
      = icon 'more_horiz', class: icon_class
  = component 'wds/button_group' do
    = component 'wds/button', color: 'ghost', icon_position: 'icon-only' do
      = icon 'access_time', class: icon_class
    = component 'wds/button', color: 'ghost', icon_position: 'icon-only' do
      = icon 'delete_outline', class: icon_class
    = component 'wds/button', color: 'ghost', icon_position: 'icon-only' do
      = icon 'add_circle_outline', class: icon_class
    = component 'wds/button', color: 'ghost', icon_position: 'icon-only' do
      = icon 'more_horiz', class: icon_class
  = component 'wds/button_group' do
    = component 'wds/button', icon_position: 'icon-only' do
      = icon 'access_time', class: icon_class
    = component 'wds/button', icon_position: 'icon-only' do
      = icon 'delete_outline', class: icon_class
    = component 'wds/button', icon_position: 'icon-only' do
      = icon 'add_circle_outline', class: icon_class
    = component 'wds/button', icon_position: 'icon-only' do
      = icon 'more_horiz', class: icon_class
  %br
  %br

  %h2 More Actions
  %p For button groups that have more than 3 or 4 buttons it is normal to hide less important actions behind a more icon.
  = component 'wds/button_group' do
    = component 'wds/button', color: 'secondary' do
      BUTTON
    = component 'wds/button', color: 'secondary' do
      BUTTON
    = component 'wds/button', color: 'secondary' do
      BUTTON
    = component 'wds/button', color: 'secondary', icon_position: 'icon-only' do
      = icon 'more_horiz', class: icon_class
  = component 'wds/button_group' do
    = component 'wds/button', color: 'alt' do
      BUTTON
    = component 'wds/button', color: 'alt' do
      BUTTON
    = component 'wds/button', color: 'alt' do
      BUTTON
    = component 'wds/button', color: 'alt', icon_position: 'icon-only' do
      = icon 'more_horiz', class: icon_class
  %br
  %br
