.container{style: 'background-color: #f7f8fa; padding: 24px; min-height: 100vh'}

  - icon_class = 'wds-icon-svg'

  = component 'wds/button', href: '../../' do
    = icon 'arrow_back_ios', class: icon_class
    BACK

  %h1 Card
  %h2 Default
  = component 'wds/card' do
    Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  %br
  %br

  %h2 Title Region
  = component 'wds/card', title: 'The monkey was curious.' do
    Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  %br
  %br

  - button = component 'wds/button' do
    Yo

  %h2 Addon Region
  = component 'wds/card', title: 'The monkey was curious.', add_on: button do
    Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  %br
  %br

  %h2 Addon Region no Title
  = component 'wds/card', add_on: button do
    Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
