= component 'wds/tabs', align: 'left', full_width: false, title: 'Edit' do
  = component 'wds/tab', title: 'Tab One', id: 'tabone' do
    Pane One Content
  = component 'wds/tab', title: 'Tab Two', id: 'tabtwo', disabled: true do
    Pane Two Content
  = component 'wds/tab', title: 'Tab Three', id: 'tabthree', selected: true do
    Pane Three Content
  = component 'wds/tab', title: 'Tab Four', id: 'tabfour', disabled: true do
    Pane Four Content
