.date-picker{data: {controller: 'datepicker'}}
  = form_with form_args.merge({builder: Pano::DateFormBuilder}) do |f|
    .date-picker-header.grid.m-stack
      .col-6
        %h2 Select Time Frame
      .col-6.date-picker-range
        .form-group.inline-block
          = f.formatted_date_field start_attr.to_sym, {data: {target: 'datepicker.start', action: 'change->datepicker#setStartCal active->datepicker#disableSubmit'}, format: 'MMM d, yyyy'}
        %hr
        .form-group.inline-block
          = f.formatted_date_field finish_attr.to_sym, {data: {target: 'datepicker.finish', action: 'change->datepicker#setFinishCal active->datepicker#disableSubmit'}, format: 'MMM d, yyyy'}
    .calendars.grid.g-8.m-stack
      .col-6
        .start{data: {target: 'datepicker.startCalendar'}}
      .calendars-seperator
      .col-6
        .finish{data: {target: 'datepicker.finishCalendar'}}
    .date-picker-footer
      = link_to 'Cancel', js_void, class: 'btn btn-outline', data: {action: 'modals#close'}
      = link_to submit_label, js_void, class: 'btn btn-primary', data: {target: 'datepicker.submit', action: 'datepicker#apply'}