.date-picker{data: {controller: 'datepicker'}}

  = form_with form_args  do |f|
    .date-picker-header.grid.m-stack
      .col-6
        %h2 Select Time Frame
      .col-6.date-picker-range
        .form-group.inline-block
          = f.text_field start_attr.to_sym, {data: {target: 'datepicker.start', action: 'change->datepicker#setStartCal'}, placeholder: 'To'}
        %hr
        .form-group.inline-block
          = f.text_field finish_attr.to_sym, {data: {target: 'datepicker.finish', action: 'change->datepicker#setStartCal'}, placeholder: 'From'}
    .calendars.grid.g-8.m-stack
      .col-6
        .start{data: {target: 'datepicker.startCalendar'}}
      .calendars-seperator
      .col-6
        .finish{data: {target: 'datepicker.finishCalendar'}}
    .date-picker-footer
      = link_to 'Cancel', js_void, class: 'btn btn-outline', data: {action: 'modal#close'}
      = link_to submit_label, js_void, class: 'btn btn-primary', data: {target: 'datepicker.submit', action: 'datepicker#apply'}